.button {
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in;
}

.primary {
    background-color: var(--primary);
    color: white;
}

.primary:hover {
    background-color: var(--primary-hover);
    color: var(--primary);
    outline: 1px solid var(--primary);
}

.danger {
    background-color: var(--danger);
    color: white;
}

.danger:hover {
    background-color: var(--danger-hover);
}
