.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.label {
    margin-bottom: 6px;
    font-size: 14px;
    color: var(--secondary-text);
}

.input {
    padding: 12px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    font-size: 15px;
    transition: 0.2s;
}

.input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px var(--primary-hover);
}
